<link rel="stylesheet" href="../assets/style.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="/app/assets/icons8-cóctel-48.png">
<section id="primeraPantalla">
      <div class="psuperior">
        <div id="logopsuperior">
            <img src="/app/assets/logo-white.png" alt="Logotipo Don Ramon Personalizado">
        </div>
            <div class="titulopantallas">
                <h1></h1>
            </div>
      </div>  
      <div class="pcentral">
        <div id="agregartexto">
          <textarea id="textarea1" 
                              class="input shadow" 
                              name="name" 
                              rows="15" 
                              cols="100" 
                              placeholder="Your text here ">
          </textarea>
        </div>
        <div id="sidebar">
            <div id="sidebarcontent"class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <div id="tipo de Letra">
                  <button type="button" 
                  onclick="f1()" 
                  class=" shadow-sm btn btn-outline-secondary" 
                  data-toggle="tooltip"
                  data-placement="top" 
                  title="Bold Text">
                    Bold</button>
                    <button type="button" 
                            onclick="f2()" 
                            class="shadow-sm btn btn-outline-success" 
                            data-toggle="tooltip" 
                            data-placement="top" 
                            title="Italic Text">
                    Italic</button>
                </div>
                <div id="AlingText">
                  <button type="button" 
                  onclick="f3()" 
                  class=" shadow-sm btn btn-outline-primary" 
                  data-toggle="tooltip" 
                  data-placement="top"
                  title="Left Align">
  <i class="fas fa-align-left"></i></button>
          <button type="button" 
                  onclick="f4()" 
                  class="btn shadow-sm btn-outline-secondary" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Center Align">
  <i class="fas fa-align-center"></i></button>
          <button type="button" 
                  onclick="f5()" 
                  class="btn shadow-sm btn-outline-primary" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Right Align">
  <i class="fas fa-align-right"></i></button>
                </div>
                <div id="upperLowerCapital">
                  <button type="button" 
                  onclick="f6()" 
                  class="btn shadow-sm btn-outline-secondary" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Uppercase Text">
  Upper Case</button>
          <button type="button" 
                  onclick="f7()" 
                  class="btn shadow-sm btn-outline-primary" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Lowercase Text">
  Lower Case</button>
          <button type="button" 
                  onclick="f8()" 
                  class="btn shadow-sm btn-outline-primary" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Capitalize Text">
  Capitalize</button>

                </div>
                <div id="Agregar texto extra">

                </div>
            </div>
        </div>
      </div>
      <div class="pinferior">
        <div id="continuarflujo">
            <button id="botonsiguientepantalla" class="btn btn-dark">
                CONTINUAR
            </button>
        </div>
      </div>
</section>


<script type="text/javascript" src="/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />