<link rel="stylesheet" href="../assets/style.css">
<div id="idle">
    <section id="videofrasecontainer">
        <div  class="videocontainer" >
            <video autoplay muted playsinline loop src="/app/assets/stock-video-huge-agave-plant-rosette-texture.mp4"></video>
        </div>
        <div id="frasesidle">
            <div id="columnaidle">
                <div id="layout">
                    <div id="logo">
                        <img src="/app/assets/casa-don-ramon-logo.png" alt="Logotipo Don Ramon Personalizado">
                    </div>
                    <div id="frase">
                        <h1>BIENVENIDO A TU EXPERIENCIA DON RAMON PERSONALIZADO</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
