<link rel="stylesheet" href="../assets/style.css">
<script src="../index.js" type="module"></script>
<section id="primeraPantalla">
      <div class="psuperior">
        <div id="logopsuperior">
            <img src="/app/assets/logo-white.png" alt="Logotipo Don Ramon Personalizado">
        </div>
            <div class="titulopantallas">
                <h1>SELECCIONA UN MARCO</h1>
            </div>
      </div>  
      <div class="pcentral">
        <div id="botonleft">
            <button class="redondo">
                izquierda
            </button>
                </div>
        <div id="cajaimagenes">
            <div id="marco">
                
                <div class="slider">
                    <ul class="slides">
                        <li><img src="../assets/marcos/584267.jpg" alt="imagen1" /><span>imagen1</span></li>
                        <li><img src="../assets/marcos/584368.jpg" alt="imagen2" /><span>imagen2</span></li>
                        <li><img src="../assets/marcos/584431.jpg" alt="imagen3" /><span>imagen3</span></li>
                        <li><img src="../assets/marcos/584433.jpg" alt="imagen4" /><span>imagen4</span></li>
                        <li><img src="../assets/marcos/584435.jpg" alt="imagen5" /><span>imagen5</span></li>
                        <li><img src="../assets/marcos/584437.jpg" alt="imagen6" /><span>imagen6</span></li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="botonrigth">
            <button class="redondo">
                Derecha
            </button>
        </div>
      </div>
      <div class="pinferior">
        <div id="continuarflujo">
            <button class="botonsiguientepantalla">
                CONTINUAR
            </button>
        </div>
      </div>
</section>